@{
    ViewData["Title"] = "Privacy Policy";
}
<h1>@ViewData["Title"]</h1>
<h2>General</h2>
<p>If notice is required in connection with these terms, it must be in writing and sent to the registered office of the company to be given.

	If there is withdrawal from the contract due to the fault of the buyer, it will not be considered automatically for subsequent orders.

	If any provision of the contract is submitted to a court or other competent institution and is found to be invalid, the validity of the other terms contained in the contract does not change.

	The contract is governed by the laws of the United Kingdom and the buyer confirms that they agree to them when entering into a business relationship with MaxGain.</p>
